<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISomeCoolService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5047/SomeCoolService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISomeCoolService"
                contract="ServiceReference1.ISomeCoolService" name="BasicHttpBinding_ISomeCoolService" />
        </client>
    </system.serviceModel>
</configuration>